
<span>
  <p class="page-banner-heading">Esmé James
  <img src="../assets/images/profile_pic.png"/ class="profile-pic"></p>
</span>
<h3>@ezyjay&nbsp;:computer:&nbsp;:guitar:&nbsp;:saxophone:&nbsp;:art:&nbsp;:seedling:</h3>
<code class="code-desc">Programmer</code>
<code class="code-desc">Game dev</code>
<p class="post-content">
  <br>
  :video_game:&nbsp;2018-present: Gameplay Programmer at Thunder Lotus Games (Jotun, Spiritfarer, Unannounced project) <br>
  :mortar_board:&nbsp;2018: Masters degree in video game programming at UQAC <br>
  :mortar_board:&nbsp;2018: Masters degree in programming/engineering at ISEN (France) <br>
  <br>
 
<a class="action-button-link" href="../assets/EsmeJames_CV.pdf" download="download" rel="nofollow">Download Resume</a>
<br>
<a href="https://github.com/ezyjay" target="_blank" class="social-media"><i class="fa-brands fa-github"></i></a>
<a href="https://www.youtube.com/channel/UCt9zUao4q8ejdWuSZ5qEK3A" target="_blank" class="social-media"><i class="fa-brands fa-youtube"></i></a>
<a href="https://www.linkedin.com/in/esmealicejames/" target="_blank" class="social-media"><i class="fa-brands fa-linkedin"></i></a>
<a href="https://www.instagram.com/ezy_draws/" target="_blank" class="social-media"><i class="fa-brands fa-instagram"></i></a>
</p>





<style type="text/css">
  
.social-media {
  font-size: 27px;
  color: #454545;
} 

.social-media:hover {
  color: #f5e042;
} 

.code-desc {
  background-color: #f5e042;
}

.profile-pic {
  width:70px;
  height: 70px;
}
</style>